<td>
    <p class="text-muted mb-0">Rathemes</p>
</td>
</tr>
</tbody>
</table>
</div>
<!-- /.profile-info-contact -->
<hr class="m-0">
<div class="profile-info-general p-4">
    <h6 class="mb-3">General Information</h6>
    <table class="table">
        <tbody>
        <tr>
            <td><strong>JOB:</strong></td>
            <td>
                <p class="text-muted mb-0">Web Developer</p>
            </td>
        </tr>
        <tr>
            <td><strong>POSITION:</strong></td>
            <td>
                <p class="text-muted mb-0">Team Manager</p>
            </td>
        </tr>
        <tr>
            <td><strong>STUDIED:</strong></td>
            <td>
                <p class="text-muted mb-0">Computer Science</p>
            </td>
        </tr>
        <tr>
            <td><strong>LAST SEEN:</strong></td>
            <td>
                <p class="text-muted mb-0">Yesterday 8:00 AM</p>
            </td>
        </tr>

        </tbody>

    </table>
    <tr>
        <div><a href="/blog/editInformation"><button type="button" class="btn btn-success px-4 py-1" style="margin-top: 10px">Chỉnh sửa thông tin người dùng</button></a></div>
    </tr>
    <tr>
        <div><a href="/blog"><button type="button" class="btn btn-success px-4 py-1" style="margin-top: 10px">Đăng bài</button></a></div>
    </tr>
</div>

<!-- /.profile-info-general -->
<hr class="m-0">
</div>
<!-- /.hidden-sm-down -->
</div>
<!-- het phan hien thi thong tin -->

<div class="profile-section-main">
    <!-- Bat dau phan time line -->
    <!-- Nav tabs -->
    <ul class="nav nav-tabs profile-tabs" role="tablist">
        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#profile-overview" role="tab">Timeline</a></li>
    </ul>
    <!-- /.nav-tabs -->
    <!-- Tab panes -->
    <div class="tab-content profile-tabs-content">

        <!-- /.post-editor -->
        <div class="stream-posts">
            <div class="stream-post">
                <div class="sp-author">
                    <a href="#" class="sp-author-avatar"><img src="https://game8.vn/media/202204/images/son-tung-mtp-so-huu-3-cong-ty-gi.jpg" alt=""></a>
                    <h6 class="sp-author-name"><a href="#">John Doe</a></h6></div>

                <div class="sp-content">
                    <div class="sp-info">posted 1h ago</div>
                    <p class="sp-paragraph mb-0">Auk Soldanella plainscraft acetonylidene wolfishness irrecognizant
                        Candolleaceae provision Marsipobranchii arpen Paleoanthropus supersecular inidoneous autoplagiarism palmcrist occamy equestrianism periodontoclasia mucedin overchannel goelism decapsulation pourer zira</p>
                    <div style="margin-top: 30px">
                        <button class="btn btn-success px-4 py-1">Sửa</button>
                        <button class="btn btn-danger px-4 py-1">Xóa</button>
                    </div>
                </div>
                <!-- /.sp-content -->
            </div>
            <!-- /.stream-post -->
            <div class="stream-post">
                <div class="sp-author">
                    <a href="#" class="sp-author-avatar"><img src="https://scontent.xx.fbcdn.net/v/t1.15752-9/311946464_684209646646388_1751660719144214384_n.png?stp=dst-png_s206x206&_nc_cat=100&ccb=1-7&_nc_sid=aee45a&_nc_ohc=i92dp_nEUYsAX9W1Dq-&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdRcaCRuGPNhTWP6AuXbQLaq_xSX6Cr6Sj4JtleAvaqWXw&oe=637ED108" alt=""></a>
                    <h6 class="sp-author-name"><a href="#">Palmira Guthridge</a></h6></div>
                <div class="sp-content">
                    <div class="sp-info">posted 1h ago</div>
                    <p class="sp-paragraph mb-0">Auk Soldanella plainscraft acetonylidene wolfishness irrecognizant Candolleaceae provision Marsipobranchii arpen Paleoanthropus supersecular inidoneous autoplagiarism palmcrist occamy equestrianism periodontoclasia mucedin overchannel goelism decapsulation pourer zira</p>
                </div>
                <!-- /.sp-content -->
            </div>
            <!-- /.stream-post -->
            <div class="stream-post">
                <div class="sp-author">
                    <a href="#" class="sp-author-avatar"><img src="https://scontent.xx.fbcdn.net/v/t1.15752-9/308156402_1345346729568147_6837231460813575455_n.png?stp=dst-png_p160x160&_nc_cat=103&ccb=1-7&_nc_sid=aee45a&_nc_ohc=R0eTGPXUYUwAX-IHTFi&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdQsHZASfcnwgIMGVDriV5q1aNGVH4p40SnK_HIRpHkiFQ&oe=637E7D8F" alt=""></a>
                    <h6 class="sp-author-name"><a href="#">Meghann Fraser</a></h6></div>
                <div class="sp-content">
                    <div class="sp-info">posted 2h ago</div>
                    <p class="sp-paragraph mb-0">Auk Soldanella plainscraft acetonylidene wolfishness irrecognizant Candolleaceae provision Marsipobranchii arpen Paleoanthropus supersecular inidoneous autoplagiarism palmcrist occamy equestrianism periodontoclasia mucedin overchannel goelism decapsulation pourer zira</p>
                </div>
                <!-- /.sp-content -->
            </div>
            <!-- /.stream-post -->
            <div class="stream-post">
                <div class="sp-author">
                    <a href="#" class="sp-author-avatar"><img src="https://scontent.xx.fbcdn.net/v/t1.15752-9/308275818_865032297824897_561440172026869370_n.png?stp=dst-png_s206x206&_nc_cat=102&ccb=1-7&_nc_sid=aee45a&_nc_ohc=vBNjvs9w8AMAX9T9QcC&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdQa7Q-IZ6lYfJQPE5VVjsbJBCOpLQT58tgviRmmgFsqMg&oe=637EF2D8" alt=""></a>
                    <h6 class="sp-author-name"><a href="#">Kent Lemaitre</a></h6></div>
                <div class="sp-content">
                    <div class="sp-info">posted 1h ago</div>
                    <p class="sp-paragraph mb-0">Auk Soldanella plainscraft acetonylidene wolfishness irrecognizant Candolleaceae provision Marsipobranchii arpen Paleoanthropus supersecular inidoneous autoplagiarism palmcrist occamy equestrianism periodontoclasia mucedin overchannel goelism decapsulation pourer zira</p>
                </div>
                <!-- /.sp-content -->
            </div>

        </div>
        <!-- /.stream-posts -->
    </div>
</div>
<!-- /.tab-content -->
</div>
<!-- /.profile-section-main -->
</div>
</div>

</body>
</html>