<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BLOG</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="/home" style="font-size: 35px">Blog.com</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-controls="bs-example-navbar-collapse-1"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse flex-row-reverse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right" style="font-color: white">
                        <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                                   style="margin-top: 17px ">
                            <button class="btn btn-dark" type="submit">Search</button>
                        </form>
                        <li class="hidden active">
                            <a href="#page-top"></a>
                        </li>
                        <li class="m-3">
                            <a class="page-scroll btn btn-dark" href="/home/user/{id}">Home</a>
                        </li>
                        <li class="m-3">
                            <a class="page-scroll btn btn-dark" href="/home/blog/{id}">Blog</a>
                        </li>

                        <li class="m-3">
                            <a href="/login">
                                <button class="page-scroll btn btn-dark" type="submit">LogOut</button>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
<br> <br> <br> <br> <br>
<div class="container">
    <div class="row">
        <div class="col-9">
            <h3>{Title}</h3><br><br>
            <p> {Nội Dung}
                <br>
            </p>
            <br> <center><img src="{img}"></img></center>
            <br>

            <br><br>
            <p style="background-color: black; color: white"><br>Posted by Fontaine on behalf of the BLOG.com team<br></p>
            <a href="/home"><img src="https://e7.pngegg.com/pngimages/703/597/png-clipart-logo-house-home-house-angle-building-thumbnail.png" style="width: 35px; height: 35px" alt=""></a>
            <a href="https://www.facebook.com/"><img src="https://img.freepik.com/free-icon/facebook-logo-with-rounded-corners_318-9850.jpg?w=2000" style="width: 30px; height: 30px" alt=""></a>
            <a href="https://www.youtube.com/"><img src="https://cdn-icons-png.flaticon.com/512/48/48968.png" style="width: 40px; height: 40px" alt=""></a>
        </div>
    </div>
</div>
</div>
</div>
</body>
</html>